<mat-toolbar color="warn">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span class="text-center">CREATE LIST</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>


<div class="mt-4">
    <form [formGroup]="createList" (ngSubmit)="create()">

        <div class="row m-3">
            <label for="exampleInputEmail1">TODO</label>
            <input type="text" class="form-control" formControlName="work" placeholder="Enter your work">
        </div>


        <div class="row m-3">
            <button class="mt-5" type="submit" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>done</mat-icon>
            </button>
        </div>

    </form>
</div>
